# Image Captioning EDA
Ananya Chattoraj

cananya53@gmail.com

### Introduction to the Dataset
The dataset is the Flickr 8k images + captions dataset from Kaggle found [here](https://www.kaggle.com/datasets/aladdinpersson/flickr8kimagescaptions).

### EDA Process
Since this dataset contains both visual and natural language data, I will first split up their EDA. 

Beginning with natural language data, the captions, I will observe the frequency of words to gauge the types of content available within the images (assuming the captions are in fact, reflective of the images).

THEN MORE STUFF

Packages

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import pytesseract
import tensorflow as tf

Load in the captions as a data frame

In [3]:
data = pd.read_csv('flickr8k/captions.txt')
data.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...

In [5]:
data.shape

(40455, 2)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   image    40455 non-null  object
 1   caption  40455 non-null  object
dtypes: object(2)
memory usage: 632.2+ KB

In [9]:
data.isna().sum()

image      0
caption    0
dtype: int64

Thankfully, this is already a relatively clean caption set.